    header {
      text-align: center;
      background:url(matrix-system-fail_2784216b.jpg);
      background-size: cover;
      color: white;
    }
    .nav {
      color: White ;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px black;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 70px;
      margin:  auto;
      background:green;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
      
      
  h2 {text:white;}
    }
